<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @shop.tel %>
</p>

<p>
  <strong>Category:</strong>
  <%= @shop.category %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @shop.avatar %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
